body{
    background:linear-gradient(forestgreen,#1cd4d4,#381cd4,#d41cb8,#d41c1c,#e6691c) ;
    color:blue;
    font-family: 'Secular One', sans-serif;
    }
    
    b{
    background-color: aqua;
    color:rgb(112, 19, 19)
    
    
    
    }